.fusion-button.button-1 .fusion-button-text,
.fusion-button.button-1 i {
  color: #ffdc4b;
}
.fusion-button.button-1 {
  border-color: #ffffff;
  border-radius: 35px 35px 35px 35px;
  background: rgba(101, 188, 123, 0);
}
.fusion-button.button-1:hover .fusion-button-text,
.fusion-button.button-1:hover i,
.fusion-button.button-1:focus .fusion-button-text,
.fusion-button.button-1:focus i,
.fusion-button.button-1:active .fusion-button-text,
.fusion-button.button-1:active i {
  color: #ffffff;
}
.fusion-button.button-1:hover,
.fusion-button.button-1:active,
.fusion-button.button-1:focus {
  border-color: #ffffff;
  background: rgba(90, 168, 108, 0);
}
.fusion-button.button-2 .fusion-button-text,
.fusion-button.button-2 i {
  color: #ffffff;
}
.fusion-button.button-2 {
  border-color: #ffffff;
  border-radius: 35px 35px 35px 35px;
  background: rgba(101, 188, 123, 0);
}
.fusion-button.button-2:hover .fusion-button-text,
.fusion-button.button-2:hover i,
.fusion-button.button-2:focus .fusion-button-text,
.fusion-button.button-2:focus i,
.fusion-button.button-2:active .fusion-button-text,
.fusion-button.button-2:active i {
  color: rgba(255, 255, 255, 0.64);
}
.fusion-button.button-2:hover,
.fusion-button.button-2:active,
.fusion-button.button-2:focus {
  border-color: #ffffff;
  background: rgba(90, 168, 108, 0);
}

.fusion-body .fusion-builder-column-0 {
  width: 60% !important;
  margin-top: 0px;
  margin-bottom: 10px;
}
.fusion-builder-column-0 > .fusion-column-wrapper {
  padding-top: 0px !important;
  padding-right: 0px !important;
  margin-right: 3.2%;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  margin-left: 0;
}
@media only screen and (max-width: 1265px) {
  .fusion-body .fusion-builder-column-0 {
    width: 60% !important;
    order: 0;
  }
  .fusion-builder-column-0 > .fusion-column-wrapper {
    margin-right: 3.2%;
    margin-left: 0;
  }
}
@media only screen and (max-width: 820px) {
  .fusion-body .fusion-builder-column-0 {
    width: 100% !important;
    order: 1;
  }
  .fusion-builder-column-0 > .fusion-column-wrapper {
    margin-right: 1.92%;
    margin-left: -10px;
  }
}
.fusion-button.button-3 .fusion-button-text,
.fusion-button.button-3 i {
  color: #ffdc4b;
}
.fusion-button.button-3 {
  border-color: #ffffff;
  border-radius: 35px 35px 35px 35px;
  background: rgba(101, 188, 123, 0);
}
.fusion-button.button-3:hover .fusion-button-text,
.fusion-button.button-3:hover i,
.fusion-button.button-3:focus .fusion-button-text,
.fusion-button.button-3:focus i,
.fusion-button.button-3:active .fusion-button-text,
.fusion-button.button-3:active i {
  color: #ffffff;
}
.fusion-button.button-3:hover,
.fusion-button.button-3:active,
.fusion-button.button-3:focus {
  border-color: #ffffff;
  background: rgba(90, 168, 108, 0);
}

.fusion-button.button-4 .fusion-button-text,
.fusion-button.button-4 i {
  color: #ffffff;
}
.fusion-button.button-4 {
  border-color: #ffffff;
  border-radius: 35px 35px 35px 35px;
  background: rgba(101, 188, 123, 0);
}
.fusion-button.button-4:hover .fusion-button-text,
.fusion-button.button-4:hover i,
.fusion-button.button-4:focus .fusion-button-text,
.fusion-button.button-4:focus i,
.fusion-button.button-4:active .fusion-button-text,
.fusion-button.button-4:active i {
  color: rgba(255, 255, 255, 0.64);
}
.fusion-button.button-4:hover,
.fusion-button.button-4:active,
.fusion-button.button-4:focus {
  border-color: #ffffff;
  background: rgba(90, 168, 108, 0);
}

.fusion-body .fusion-builder-column-1 {
  width: 60% !important;
  margin-top: 0px;
  margin-bottom: 10px;
}
.fusion-builder-column-1 > .fusion-column-wrapper {
  padding-top: 0px !important;
  padding-right: 0px !important;
  margin-right: 3.2%;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  margin-left: 0;
}
@media only screen and (max-width: 1265px) {
  .fusion-body .fusion-builder-column-1 {
    width: 78% !important;
    order: 0;
  }
  .fusion-builder-column-1 > .fusion-column-wrapper {
    margin-right: 2.4615384615385%;
    margin-left: 0;
  }
}
@media only screen and (max-width: 820px) {
  .fusion-body .fusion-builder-column-1 {
    width: 100% !important;
    order: 1;
  }
  .fusion-builder-column-1 > .fusion-column-wrapper {
    margin-right: 1.92%;
    margin-left: 1.92%;
  }
}

.fusion-social-links-1 {
  text-align: ;
}
@media only screen and (max-width: 1265px) {
  .fusion-social-links-1 {
    text-align: ;
  }
}
@media only screen and (max-width: 820px) {
  .fusion-social-links-1 {
    text-align: ;
  }
}

.fusion-body .fusion-builder-column-2 {
  width: 40% !important;
  margin-top: 0px;
  margin-bottom: 10px;
}
.fusion-builder-column-2 > .fusion-column-wrapper {
  padding-top: 0px !important;
  padding-right: 0px !important;
  margin-right: 4.8%;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  margin-left: 4.8%;
}
@media only screen and (max-width: 1265px) {
  .fusion-body .fusion-builder-column-2 {
    width: 22% !important;
    order: 0;
  }
  .fusion-builder-column-2 > .fusion-column-wrapper {
    margin-right: 8.7272727272727%;
    margin-left: 8.7272727272727%;
  }
}
@media only screen and (max-width: 820px) {
  .fusion-body .fusion-builder-column-2 {
    width: 100% !important;
    order: 0;
  }
  .fusion-builder-column-2 > .fusion-column-wrapper {
    margin-right: 1.92%;
    margin-left: 1.92%;
  }
}

.fusion-body .fusion-builder-column-3 {
  width: 100% !important;
  margin-top: 0px;
  margin-bottom: 0px;
}
.fusion-builder-column-3 > .fusion-column-wrapper {
  padding-top: 0px !important;
  padding-right: 0px !important;
  margin-right: 1.92%;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  margin-left: 1.92%;
}
@media only screen and (max-width: 1265px) {
  .fusion-body .fusion-builder-column-3 {
    width: 100% !important;
    order: 0;
  }
  .fusion-builder-column-3 > .fusion-column-wrapper {
    margin-right: 1.92%;
    margin-left: 1.92%;
  }
}
@media only screen and (max-width: 820px) {
  .fusion-body .fusion-builder-column-3 {
    width: 100% !important;
    order: 2;
  }
  .fusion-builder-column-3 > .fusion-column-wrapper {
    margin-right: 1.92%;
    margin-left: 1.92%;
  }
}
.fusion-body .fusion-flex-container.fusion-builder-row-1 {
  padding-top: 10px;
  margin-top: 0px;
  padding-right: 9vw;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-left: 9vw;
}
@media only screen and (max-width: 1265px) {
  .fusion-body .fusion-flex-container.fusion-builder-row-1 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.fusion-body .fusion-builder-column-4 {
  width: 25% !important;
  margin-top: 0px;
  margin-bottom: 0px;
}
.fusion-builder-column-4 > .fusion-column-wrapper {
  padding-top: 0px !important;
  padding-right: 0px !important;
  margin-right: 5px;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  margin-left: 5px;
}
@media only screen and (max-width: 1265px) {
  .fusion-body .fusion-builder-column-4 {
    width: 25% !important;
    order: 0;
  }
  .fusion-builder-column-4 > .fusion-column-wrapper {
    margin-right: 5px;
    margin-left: 5px;
  }
}
@media only screen and (max-width: 820px) {
  .fusion-body .fusion-builder-column-4 {
    width: 66.666666666667% !important;
    order: 0;
  }
  .fusion-builder-column-4 > .fusion-column-wrapper {
    margin-right: 5px;
    margin-left: 5px;
  }
}
.fusion-body .fusion-menu-element-wrapper[data-count="0"],
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  .menu-item
  > a {
  font-size: 17px;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list {
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 500;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  > .avada-menu-mobile-menu-trigger {
  font-family: "Roboto";
  font-weight: 500;
  color: #000000;
  font-size: 25px;
}
.fusion-body .fusion-menu-element-wrapper[data-count="0"] [class*="awb-icon-"],
.fusion-body .fusion-menu-element-wrapper[data-count="0"] [class^="awb-icon-"] {
  font-family: Roboto !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li {
  margin-left: calc(10px / 2);
  margin-right: calc(10px / 2);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button),
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button)
  > .background-default,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button)
  > .background-active {
  border-radius: 25px 25px 25px 25px;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button)
  > a {
  padding-top: calc(9px + 0px);
  padding-right: calc(23px + 0px);
  padding-bottom: calc(9px + 0px);
  padding-left: calc(23px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button)
  .fusion-widget-cart
  > a {
  padding-top: calc(9px + 0px);
  padding-right: calc(23px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):focus-within
  > a {
  padding-top: calc(9px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button)
  > .fusion-open-nav-submenu,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):hover
  > a,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button).hover
  > a,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):focus
  > a,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):active
  > a,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button).current-menu-item
  > a {
  padding-top: calc(9px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button).current-menu-ancestor
  > a {
  padding-top: calc(9px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button).current-menu-parent
  > a {
  padding-top: calc(9px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button).expanded
  > a {
  padding-top: calc(9px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):hover
  > .fusion-open-nav-submenu {
  padding-top: calc(9px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button).hover
  > .fusion-open-nav-submenu {
  padding-top: calc(9px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):focus
  > .fusion-open-nav-submenu {
  padding-top: calc(9px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):active
  > .fusion-open-nav-submenu {
  padding-top: calc(9px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):focus-within
  > .fusion-open-nav-submenu {
  padding-top: calc(9px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button).current-menu-item
  > .fusion-open-nav-submenu {
  padding-top: calc(9px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button).current-menu-ancestor
  > .fusion-open-nav-submenu {
  padding-top: calc(9px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button).current-menu-parent
  > .fusion-open-nav-submenu {
  padding-top: calc(9px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button).expanded
  > .fusion-open-nav-submenu {
  padding-top: calc(9px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):not(.menu-item-has-children):focus-within
  > a {
  padding-right: calc(23px + 0px);
  padding-bottom: calc(9px + 0px);
  padding-left: calc(23px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):not(.menu-item-has-children):hover
  > a,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):not(.menu-item-has-children).hover
  > a,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):not(.menu-item-has-children):focus
  > a,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):not(.menu-item-has-children):active
  > a,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):not(.menu-item-has-children).current-menu-item
  > a {
  padding-right: calc(23px + 0px);
  padding-bottom: calc(9px + 0px);
  padding-left: calc(23px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):not(.menu-item-has-children).current-menu-ancestor
  > a {
  padding-right: calc(23px + 0px);
  padding-bottom: calc(9px + 0px);
  padding-left: calc(23px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):not(.menu-item-has-children).current-menu-parent
  > a {
  padding-right: calc(23px + 0px);
  padding-bottom: calc(9px + 0px);
  padding-left: calc(23px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):not(.menu-item-has-children).expanded
  > a {
  padding-right: calc(23px + 0px);
  padding-bottom: calc(9px + 0px);
  padding-left: calc(23px + 0px);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-form-inline,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .custom-menu-search-overlay
  ~ .fusion-overlay-search {
  padding-top: 9px;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  .custom-menu-search-overlay
  .fusion-overlay-search,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  .fusion-menu-form-inline {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 23px;
  padding-left: 23px;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button)
  > .fusion-open-nav-submenu {
  padding-bottom: 9px;
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-form-inline,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .custom-menu-search-overlay
  ~ .fusion-overlay-search {
  padding-bottom: 9px;
  padding-right: 23px;
  padding-left: 23px;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .custom-menu-search-dropdown
  .fusion-main-menu-icon {
  padding-right: 23px !important;
  padding-left: 23px !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-overlay-search
  .fusion-close-search:before,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-overlay-search
  .fusion-close-search:after {
  background: #ffffff;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button)
  > .background-active {
  background: #012b7f;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled).expand-method-click.dropdown-arrows-parent.direction-row
  > ul
  > li.menu-item-has-children.expanded:after,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled).expand-method-hover.dropdown-arrows-parent.direction-row
  > ul
  > li.menu-item-has-children:hover:after,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled).expand-method-hover.dropdown-arrows-parent.direction-row
  > ul
  > li.menu-item-has-children.hover:after,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled).expand-method-hover.dropdown-arrows-parent.direction-row
  > ul
  > li.menu-item-has-children:focus:after,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled).expand-method-hover.dropdown-arrows-parent.direction-row
  > ul
  > li.menu-item-has-children:active:after {
  border-top-color: #012b7f;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled).expand-method-hover.dropdown-arrows-parent.direction-row
  > ul
  > li.menu-item-has-children:focus-within:after {
  border-top-color: #012b7f;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):not(.custom-menu-search-overlay):focus-within
  > a {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button)
  > a,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):not(.custom-menu-search-overlay):hover
  > a,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button).hover
  > a,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):not(.custom-menu-search-overlay):focus
  > a,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):not(.custom-menu-search-overlay):active
  > a,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button).current-menu-item
  > a {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button).current-menu-ancestor:not(.awb-flyout-top-level-no-link)
  > a {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button).current-menu-parent:not(.awb-flyout-top-level-no-link)
  > a {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button).expanded
  > a {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):hover
  > .fusion-open-nav-submenu {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button).hover
  > .fusion-open-nav-submenu {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):focus
  > .fusion-open-nav-submenu {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):active
  > .fusion-open-nav-submenu {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button):focus-within
  > .fusion-open-nav-submenu {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button).current-menu-item
  > .fusion-open-nav-submenu {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button).current-menu-ancestor
  > .fusion-open-nav-submenu {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button).current-menu-parent
  > .fusion-open-nav-submenu {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li:not(.fusion-menu-item-button).expanded
  > .fusion-open-nav-submenu {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].direction-row:not(.collapse-enabled):not(.submenu-mode-flyout)
  .fusion-menu-element-list
  > li
  > ul.sub-menu:not(.fusion-megamenu) {
  margin-top: 22px !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].expand-method-hover.direction-row
  .fusion-menu-element-list
  > li:hover:before,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].expand-method-hover.direction-row
  .fusion-menu-element-list
  > li.hover:before,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].expand-method-hover.direction-row
  .fusion-menu-element-list
  > li:focus:before,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].expand-method-hover.direction-row
  .fusion-menu-element-list
  > li:active:before {
  bottom: calc(0px - 22px);
  height: 22px;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].expand-method-hover.direction-row
  .fusion-menu-element-list
  > li:focus-within:before {
  bottom: calc(0px - 22px);
  height: 22px;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  .sub-menu {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  .sub-menu
  > li:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .custom-menu-search-dropdown
  .fusion-menu-searchform-dropdown
  .fusion-search-form-content {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #013cae;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  .sub-menu
  > li:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  .sub-menu
  > li,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  .sub-menu
  li
  a {
  font-family: "Epilogue";
  font-weight: 500;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .sub-menu
  .fusion-menu-cart,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .avada-menu-login-box
  .avada-custom-menu-item-contents,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li:not(.fusion-menu-item-button) {
  background-color: #013cae;
  color: #ffffff;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li:not(.fusion-menu-item-button)
  > a {
  color: #ffffff !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu):not(.fusion-menu-searchform-dropdown)
  > li:not(.fusion-menu-item-button):focus-within {
  background-color: #ffdc4b;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu):not(.fusion-menu-searchform-dropdown)
  > li:not(.fusion-menu-item-button):hover,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu):not(.fusion-menu-searchform-dropdown)
  > li:not(.fusion-menu-item-button):focus,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu):not(.fusion-menu-searchform-dropdown)
  > li:not(.fusion-menu-item-button).expanded {
  background-color: #ffdc4b;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li.current-menu-item:not(.fusion-menu-item-button) {
  background-color: #ffdc4b;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li.current-menu-parent:not(.fusion-menu-item-button) {
  background-color: #ffdc4b;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li.current-menu-ancestor:not(.fusion-menu-item-button) {
  background-color: #ffdc4b;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li.current_page_item:not(.fusion-menu-item-button) {
  background-color: #ffdc4b;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li:focus-within
  > a {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li:hover
  > a,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li.hover
  > a,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li:focus
  > a,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li.expanded
  > a {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li:not(.fusion-menu-item-button).current-menu-item
  > a {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li:not(.fusion-menu-item-button).current-menu-ancestor
  > a {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li:not(.fusion-menu-item-button).current-menu-parent
  > a {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li:hover
  > a
  .fusion-button {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li.hover
  > a
  .fusion-button {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li:focus
  > a
  .fusion-button {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li:focus-within
  > a
  .fusion-button {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li.expanded
  > a
  .fusion-button {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li.current-menu-item
  > a
  .fusion-button {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li.current-menu-ancestor
  > a
  .fusion-button {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li.current-menu-parent
  > a
  .fusion-button {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li:hover
  > .fusion-open-nav-submenu {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li.hover
  > .fusion-open-nav-submenu {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li:focus
  > .fusion-open-nav-submenu {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li:focus-within
  > .fusion-open-nav-submenu {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li.expanded
  > .fusion-open-nav-submenu {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li.current-menu-item
  > .fusion-open-nav-submenu {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li.current-menu-ancestor
  > .fusion-open-nav-submenu {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li.current-menu-parent
  > .fusion-open-nav-submenu {
  color: #000000 !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .sub-menu
  .fusion-menu-cart
  a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .avada-menu-login-box
  .avada-custom-menu-item-contents
  form {
  padding-top: 10px;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .avada-menu-login-box
  .avada-custom-menu-item-contents
  .fusion-menu-login-box-register {
  padding-bottom: 10px;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  > li {
  border-bottom-color: rgba(0, 0, 0, 0);
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  ul:not(.fusion-megamenu)
  a {
  font-size: 1.1em;
}
.fusion-body .fusion-menu-element-wrapper[data-count="0"].collapse-enabled {
  justify-content: flex-end;
  font-family: inherit;
  font-weight: 400;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  .fusion-menu-element-list {
  margin-top: 10px;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  > li,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  .fusion-megamenu-title,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .fusion-menu-element-list
  ul {
  text-transform: none;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li.menu-item:focus-within
  > a
  .fusion-megamenu-icon {
  color: #ffffff;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li.menu-item:hover
  > a
  .fusion-megamenu-icon,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li.menu-item.hover
  > a
  .fusion-megamenu-icon,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li.menu-item:focus
  > a
  .fusion-megamenu-icon,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li.menu-item:active
  > a
  .fusion-megamenu-icon,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li.menu-item.current-menu-item
  > a
  .fusion-megamenu-icon {
  color: #ffffff;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li.menu-item.current-menu-ancestor
  > a
  .fusion-megamenu-icon {
  color: #ffffff;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li.menu-item.current-menu-parent
  > a
  .fusion-megamenu-icon {
  color: #ffffff;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  > li.menu-item.expanded
  > a
  .fusion-megamenu-icon {
  color: #ffffff;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .custom-menu-search-dropdown:hover
  .fusion-main-menu-icon {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .custom-menu-search-overlay:hover
  .fusion-menu-icon-search.trigger-overlay {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]
  .custom-menu-search-overlay:hover
  ~ .fusion-overlay-search {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li:focus-within
  > a {
  background: #012b7f !important;
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li:hover
  > a,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.hover
  > a,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li:focus
  > a,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li:active
  > a,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.current-menu-item
  > a {
  background: #012b7f !important;
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.current-menu-ancestor
  > a {
  background: #012b7f !important;
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.current-menu-parent
  > a {
  background: #012b7f !important;
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.expanded
  > a {
  background: #012b7f !important;
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.fusion-menu-item-button:focus-within {
  background: #012b7f !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.fusion-menu-item-button:hover,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.fusion-menu-item-button.hover,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.fusion-menu-item-button:focus,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.fusion-menu-item-button:active,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.fusion-menu-item-button.current-menu-item {
  background: #012b7f !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.fusion-menu-item-button.current-menu-ancestor {
  background: #012b7f !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.fusion-menu-item-button.current-menu-parent {
  background: #012b7f !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.fusion-menu-item-button.expanded {
  background: #012b7f !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li
  .sub-menu
  li:not(.current-menu-item):not(.current-menu-ancestor):not(.current-menu-parent):not(.expanded):hover
  a {
  background: #012b7f !important;
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li
  .sub-menu
  li:not(.current-menu-item):not(.current-menu-ancestor):not(.current-menu-parent):not(.expanded).hover
  a {
  background: #012b7f !important;
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li
  .sub-menu
  li:not(.current-menu-item):not(.current-menu-ancestor):not(.current-menu-parent):not(.expanded):focus
  a {
  background: #012b7f !important;
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li
  .sub-menu
  li:not(.current-menu-item):not(.current-menu-ancestor):not(.current-menu-parent):not(.expanded):active
  a {
  background: #012b7f !important;
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li
  .sub-menu
  li:not(.current-menu-item):not(.current-menu-ancestor):not(.current-menu-parent):not(.expanded):focus-within
  a {
  background: #012b7f !important;
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li:hover
  > .fusion-open-nav-submenu-on-click:before {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.hover
  > .fusion-open-nav-submenu-on-click:before {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li:focus
  > .fusion-open-nav-submenu-on-click:before {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li:active
  > .fusion-open-nav-submenu-on-click:before {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li:focus-within
  > .fusion-open-nav-submenu-on-click:before {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li:hover
  > a
  .fusion-button {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.hover
  > a
  .fusion-button {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li:focus
  > a
  .fusion-button {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li:active
  > a
  .fusion-button {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li:focus-within
  > a
  .fusion-button {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.current-menu-item
  > a
  .fusion-button {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.current-menu-ancestor
  > a
  .fusion-button {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.current-menu-parent
  > a
  .fusion-button {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.expanded
  > a
  .fusion-button {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.current-menu-item
  > .fusion-open-nav-submenu-on-click:before {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.current-menu-parent
  > .fusion-open-nav-submenu-on-click:before {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li.current-menu-ancestor
  > .fusion-open-nav-submenu-on-click:before {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li.current-menu-ancestor
  > .fusion-open-nav-submenu-on-click:before {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li.current-menu-parent
  > .fusion-open-nav-submenu-on-click:before {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li.expanded
  > .fusion-open-nav-submenu-on-click:before {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li:hover
  > .fusion-open-nav-submenu-on-click:before {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li.hover
  > .fusion-open-nav-submenu-on-click:before {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li:focus
  > .fusion-open-nav-submenu-on-click:before {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li:active
  > .fusion-open-nav-submenu-on-click:before {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li:focus-within
  > .fusion-open-nav-submenu-on-click:before {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li:hover
  > a {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li.hover
  > a {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li:focus
  > a {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li:active
  > a {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li:focus-within
  > a {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li.current-menu-item
  > a {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li.current-menu-ancestor
  > a {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li.current-menu-parent
  > a {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li.expanded
  > a {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li:hover
  > a:hover {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li.hover
  > a:hover {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li:focus
  > a:hover {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li:active
  > a:hover {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li:focus-within
  > a:hover {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li.current-menu-item
  > a:hover {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li.current-menu-ancestor
  > a:hover {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li.current-menu-parent
  > a:hover {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li.expanded
  > a:hover {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul.sub-menu.sub-menu
  li.current-menu-item
  > .fusion-open-nav-submenu-on-click:before {
  color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  li:not(:last-child),
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  li.menu-item:not(.expanded) {
  border-bottom-color: #ffffff !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  li.menu-item.menu-item-has-children
  ul.sub-menu
  li.menu-item-has-children.expanded
  > ul.sub-menu {
  border-top-color: #ffffff;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li
  > a {
  min-height: 55px;
  font-family: inherit;
  font-weight: 400;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  .fusion-open-nav-submenu-on-click:before,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  li.menu-item {
  min-height: 55px;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  ul
  li
  > a
  .fusion-button {
  font-family: inherit;
  font-weight: 400;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  [class*="awb-icon-"],
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"].collapse-enabled
  [class^="awb-icon-"] {
  font-family: inherit !important;
}
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .fusion-menu-element-list
  ul,
.fusion-body
  .fusion-menu-element-wrapper[data-count="0"]:not(.collapse-enabled)
  .custom-menu-search-dropdown
  .fusion-menu-searchform-dropdown
  .fusion-search-form-content {
  box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.1);
}

.fusion-body .fusion-builder-column-5 {
  width: 50% !important;
  margin-top: 0px;
  margin-bottom: 0px;
}
.fusion-builder-column-5 > .fusion-column-wrapper {
  padding-top: 0px !important;
  padding-right: 0px !important;
  margin-right: 5px;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  margin-left: 5px;
}
@media only screen and (max-width: 1265px) {
  .fusion-body .fusion-builder-column-5 {
    width: 10% !important;
    order: 2;
  }
  .fusion-builder-column-5 > .fusion-column-wrapper {
    margin-right: 5px;
    margin-left: 5px;
  }
}
@media only screen and (max-width: 820px) {
  .fusion-body .fusion-builder-column-5 {
    width: 33.333333333333% !important;
    order: 1;
  }
  .fusion-builder-column-5 > .fusion-column-wrapper {
    margin-right: 5px;
    margin-left: 5px;
  }
}
.fusion-button.button-5 {
  border-color: #ffffff;
  border-width: 2px 2px 2px 2px;
  border-radius: 35px 35px 35px 35px;
  background: rgba(1, 43, 127, 0);
}
.fusion-button.button-5 .fusion-button-text,
.fusion-button.button-5 i,
.fusion-button.button-5:hover .fusion-button-text,
.fusion-button.button-5:hover i,
.fusion-button.button-5:focus .fusion-button-text,
.fusion-button.button-5:focus i,
.fusion-button.button-5:active .fusion-button-text,
.fusion-button.button-5:active i {
  color: #ffffff;
}
.fusion-button.button-5:hover,
.fusion-button.button-5:active,
.fusion-button.button-5:focus {
  border-color: #012b7f;
  border-width: 2px 2px 2px 2px;
  background: #012b7f;
}
.fusion-button.button-6 {
  border-color: #ffffff;
  border-width: 2px 2px 2px 2px;
  border-radius: 35px 35px 35px 35px;
  background: rgba(1, 43, 127, 0);
}
.fusion-button.button-6 .fusion-button-text,
.fusion-button.button-6 i,
.fusion-button.button-6:hover .fusion-button-text,
.fusion-button.button-6:hover i,
.fusion-button.button-6:focus .fusion-button-text,
.fusion-button.button-6:focus i,
.fusion-button.button-6:active .fusion-button-text,
.fusion-button.button-6:active i {
  color: #ffffff;
}
.fusion-button.button-6:hover,
.fusion-button.button-6:active,
.fusion-button.button-6:focus {
  border-color: #012b7f;
  border-width: 2px 2px 2px 2px;
  background: #012b7f;
}
.fusion-body .fusion-builder-column-6 {
  width: 25% !important;
  margin-top: 0px;
  margin-bottom: 0px;
}
.fusion-builder-column-6 > .fusion-column-wrapper {
  padding-top: 0px !important;
  padding-right: 0px !important;
  margin-right: 5px;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  margin-left: 5px;
}
@media only screen and (max-width: 1265px) {
  .fusion-body .fusion-builder-column-6 {
    width: 65% !important;
    order: 1;
  }
  .fusion-builder-column-6 > .fusion-column-wrapper {
    margin-right: 5px;
    margin-left: 5px;
  }
}
@media only screen and (max-width: 820px) {
  .fusion-body .fusion-builder-column-6 {
    width: 100% !important;
    order: 2;
    margin-top: 20px;
  }
  .fusion-builder-column-6 > .fusion-column-wrapper {
    margin-right: 5px;
    margin-left: 5px;
  }
}
.fusion-fullwidth.fusion-builder-row-2 {
  z-index: 999 !important;
}
.fusion-body .fusion-flex-container.fusion-builder-row-2 {
  padding-top: 10px;
  margin-top: 0px;
  padding-right: 9vw;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-left: 9vw;
}
@media only screen and (max-width: 1265px) {
  .fusion-body .fusion-flex-container.fusion-builder-row-2 {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media only screen and (max-width: 820px) {
  .fusion-body .fusion-flex-container.fusion-builder-row-2 {
    padding-bottom: 10px;
  }
}
.fusion-body .fusion-flex-container.fusion-builder-row-3 {
  padding-top: 325px;
  margin-top: 0px;
  padding-right: 6vw;
  padding-bottom: 0px;
  margin-bottom: -410px;
  padding-left: 6vw;
}
