i.fb-icon-element.fontawesome-icon.fb-icon-element-1 {
  color: #ffffff;
}

i.fb-icon-element.fontawesome-icon.fb-icon-element-1:hover {
  color: #ffffff;
}

i.fb-icon-element.fontawesome-icon.fb-icon-element-2 {
  color: #ffffff;
}

i.fb-icon-element.fontawesome-icon.fb-icon-element-2:hover {
  color: #ffffff;
}

i.fb-icon-element.fontawesome-icon.fb-icon-element-2 {
  color: #ffffff;
}

i.fb-icon-element.fontawesome-icon.fb-icon-element-2:hover {
  color: #ffffff;
}

i.fb-icon-element.fontawesome-icon.fb-icon-element-3 {
  color: #ffffff;
}

i.fb-icon-element.fontawesome-icon.fb-icon-element-3:hover {
  color: #ffffff;
}
