.fusion-button.button-1 .fusion-button-text,
.fusion-button.button-1 i {
  color: #ffdc4b;
}
.fusion-button.button-1 {
  border-color: #ffffff;
  border-radius: 35px 35px 35px 35px;
  background: rgba(101, 188, 123, 0);
}
.fusion-button.button-1:hover .fusion-button-text,
.fusion-button.button-1:hover i,
.fusion-button.button-1:focus .fusion-button-text,
.fusion-button.button-1:focus i,
.fusion-button.button-1:active .fusion-button-text,
.fusion-button.button-1:active i {
  color: #ffffff;
}
.fusion-button.button-1:hover,
.fusion-button.button-1:active,
.fusion-button.button-1:focus {
  border-color: #ffffff;
  background: rgba(90, 168, 108, 0);
}

.fusion-button.button-2 .fusion-button-text,
.fusion-button.button-2 i {
  color: #ffffff;
}
.fusion-button.button-2 {
  border-color: #ffffff;
  border-radius: 35px 35px 35px 35px;
  background: rgba(101, 188, 123, 0);
}
.fusion-button.button-2:hover .fusion-button-text,
.fusion-button.button-2:hover i,
.fusion-button.button-2:focus .fusion-button-text,
.fusion-button.button-2:focus i,
.fusion-button.button-2:active .fusion-button-text,
.fusion-button.button-2:active i {
  color: rgba(255, 255, 255, 0.64);
}
.fusion-button.button-2:hover,
.fusion-button.button-2:active,
.fusion-button.button-2:focus {
  border-color: #ffffff;
  background: rgba(90, 168, 108, 0);
}

.fusion-button.button-3 .fusion-button-text,
.fusion-button.button-3 i {
  color: #ffdc4b;
}
.fusion-button.button-3 {
  border-color: #ffffff;
  border-radius: 35px 35px 35px 35px;
  background: rgba(101, 188, 123, 0);
}
.fusion-button.button-3:hover .fusion-button-text,
.fusion-button.button-3:hover i,
.fusion-button.button-3:focus .fusion-button-text,
.fusion-button.button-3:focus i,
.fusion-button.button-3:active .fusion-button-text,
.fusion-button.button-3:active i {
  color: #ffffff;
}
.fusion-button.button-3:hover,
.fusion-button.button-3:active,
.fusion-button.button-3:focus {
  border-color: #ffffff;
  background: rgba(90, 168, 108, 0);
}

.fusion-button.button-4 .fusion-button-text,
.fusion-button.button-4 i {
  color: #ffffff;
}
.fusion-button.button-4 {
  border-color: #ffffff;
  border-radius: 35px 35px 35px 35px;
  background: rgba(101, 188, 123, 0);
}
.fusion-button.button-4:hover .fusion-button-text,
.fusion-button.button-4:hover i,
.fusion-button.button-4:focus .fusion-button-text,
.fusion-button.button-4:focus i,
.fusion-button.button-4:active .fusion-button-text,
.fusion-button.button-4:active i {
  color: rgba(255, 255, 255, 0.64);
}
.fusion-button.button-4:hover,
.fusion-button.button-4:active,
.fusion-button.button-4:focus {
  border-color: #ffffff;
  background: rgba(90, 168, 108, 0);
}

.fusion-button.button-5 {
  border-color: #ffffff;
  border-width: 2px 2px 2px 2px;
  border-radius: 35px 35px 35px 35px;
  background: rgba(1, 43, 127, 0);
}
.fusion-button.button-5 .fusion-button-text,
.fusion-button.button-5 i,
.fusion-button.button-5:hover .fusion-button-text,
.fusion-button.button-5:hover i,
.fusion-button.button-5:focus .fusion-button-text,
.fusion-button.button-5:focus i,
.fusion-button.button-5:active .fusion-button-text,
.fusion-button.button-5:active i {
  color: #ffffff;
}
.fusion-button.button-5:hover,
.fusion-button.button-5:active,
.fusion-button.button-5:focus {
  border-color: #012b7f;
  border-width: 2px 2px 2px 2px;
  background: #012b7f;
}

.fusion-button.button-6 {
  border-color: #ffffff;
  border-width: 2px 2px 2px 2px;
  border-radius: 35px 35px 35px 35px;
  background: rgba(1, 43, 127, 0);
}
.fusion-button.button-6 .fusion-button-text,
.fusion-button.button-6 i,
.fusion-button.button-6:hover .fusion-button-text,
.fusion-button.button-6:hover i,
.fusion-button.button-6:focus .fusion-button-text,
.fusion-button.button-6:focus i,
.fusion-button.button-6:active .fusion-button-text,
.fusion-button.button-6:active i {
  color: #ffffff;
}
.fusion-button.button-6:hover,
.fusion-button.button-6:active,
.fusion-button.button-6:focus {
  border-color: #012b7f;
  border-width: 2px 2px 2px 2px;
  background: #012b7f;
}

.fusion-button.button-7 .fusion-button-text,
.fusion-button.button-7 i {
  color: #000000;
}
.fusion-button.button-7 {
  border-color: #ffffff;
  border-radius: 35px 35px 35px 35px;
  background: #ffffff;
}
.fusion-button.button-7:hover .fusion-button-text,
.fusion-button.button-7:hover i,
.fusion-button.button-7:focus .fusion-button-text,
.fusion-button.button-7:focus i,
.fusion-button.button-7:active .fusion-button-text,
.fusion-button.button-7:active i {
  color: #ffffff;
}
.fusion-button.button-7:hover,
.fusion-button.button-7:active,
.fusion-button.button-7:focus {
  border-color: #ffffff;
  background: #012b7f;
}

.fusion-button.button-8 .fusion-button-text,
.fusion-button.button-8 i {
  color: #ffdc4b;
}
.fusion-button.button-8 {
  border-color: #ffffff;
  border-radius: 35px 35px 35px 35px;
  background: rgba(101, 188, 123, 0);
}
.fusion-button.button-8:hover .fusion-button-text,
.fusion-button.button-8:hover i,
.fusion-button.button-8:focus .fusion-button-text,
.fusion-button.button-8:focus i,
.fusion-button.button-8:active .fusion-button-text,
.fusion-button.button-8:active i {
  color: #ffffff;
}
.fusion-button.button-8:hover,
.fusion-button.button-8:active,
.fusion-button.button-8:focus {
  border-color: #ffffff;
  background: rgba(90, 168, 108, 0);
}

.fusion-button.button-9 .fusion-button-text,
.fusion-button.button-9 i {
  color: rgba(0, 0, 0, 0.94);
}
.fusion-button.button-9 {
  border-color: #ffffff;
  border-radius: 35px 35px 35px 35px;
  background: #ffdc4b;
}
.fusion-button.button-9:hover .fusion-button-text,
.fusion-button.button-9:hover i,
.fusion-button.button-9:focus .fusion-button-text,
.fusion-button.button-9:focus i,
.fusion-button.button-9:active .fusion-button-text,
.fusion-button.button-9:active i {
  color: #ffffff;
}
.fusion-button.button-9:hover,
.fusion-button.button-9:active,
.fusion-button.button-9:focus {
  border-color: #ffffff;
  background: #012b7f;
}
